.section {
  ul {
    text-align: left;
    padding-left: 90px;
  }

  li {
    margin: 0 auto;
    max-width: 910px;
    list-style: none;

    &:before {
      content: '— ';
      margin-right: 2px;
    }
  }
}

.timeline .exp {
  max-width: 700px;
  text-align: left;
  padding: 10px 0;
}

.timeline .job {
  margin: 5px 0;
}

.timeline p {
  display: inline-block;
}

.timeline ul {
  padding-left: 20px;
}

.cc {
  display: block;
  color: #ccc;
  font-size: 14px;
}

@media only screen and (max-width: 920px) {
  .main {
    text-align: left;
  }

  .timeline svg {
    display: none;
  }

  .section {
    li,
    br {
      margin-bottom: 8px;
    }

    ul {
      padding-left: 0;
    }
  }
}
