.postHeader {
  h1 {
    color: #ffc700;
  }
}

.title {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.previewTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.details {
  span {
    color: #bdbdbd;
    margin-right: 1rem;
  }
}
